In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
dataset = pd.read_csv('C:/Users/Betty/Desktop/FoodBalanceSheets_E_Africa_NOFLAG.csv')

In [4]:
print(dataset)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [5]:
dataset.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [8]:
dataset.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [10]:
list(dataset.groupby(dataset['Element']))

[('Domestic supply quantity',
         Area Code      Area  Item Code                      Item  Element Code  \
  1              4   Algeria       2501                Population          5301
  15             4   Algeria       2905  Cereals - Excluding Beer          5301
  31             4   Algeria       2511        Wheat and products          5301
  47             4   Algeria       2805         Rice and products          5301
  62             4   Algeria       2513       Barley and products          5301
  ...          ...       ...        ...                       ...           ...
  60898        181  Zimbabwe       2769   Aquatic Animals, Others          5301
  60906        181  Zimbabwe       2775            Aquatic Plants          5301
  60916        181  Zimbabwe       2928             Miscellaneous          5301
  60926        181  Zimbabwe       2680               Infant food          5301
  60936        181  Zimbabwe       2899             Miscellaneous          5301

                          Element         Unit     Y2014    Y2015    Y2016  \
  1      Domestic supply quantity  1000 tonnes      0.00      0.0      0.0
  15     Domestic supply quantity  1000 tonnes  15353.00  16075.0  16056.0
  31     Domestic supply quantity  1000 tonnes   9407.00   9780.0   9958.0
  47     Domestic supply quantity  1000 tonnes    163.00    166.0    167.0
  62     Domestic supply quantity  1000 tonnes   1702.00   1746.0   1781.0
  ...                         ...          ...       ...      ...      ...
  60898  Domestic supply quantity  1000 tonnes      0.01      0.0      0.0
  60906  Domestic supply quantity  1000 tonnes      0.00      0.0      0.0
  60916  Domestic supply quantity  1000 tonnes     41.00     46.0     33.0
  60926  Domestic supply quantity  1000 tonnes      0.00      0.0      0.0
  60936  Domestic supply quantity  1000 tonnes     42.00     46.0     33.0

           Y2017    Y2018
  1          0.0      0.0
  15     15803.0  17004.0
  31      9987.0  10472.0
  47       173.0    170.0
  62      1521.0   2225.0
  ...        ...      ...
  60898      0.0      0.0
  60906      0.0      0.0
  60916     19.0     16.0
  60926      0.0      0.0
  60936     19.0     16.0

  [5295 rows x 12 columns]),
 ('Export Quantity',
         Area Code      Area  Item Code                      Item  Element Code  \
  14             4   Algeria       2905  Cereals - Excluding Beer          5911
  30             4   Algeria       2511        Wheat and products          5911
  46             4   Algeria       2805         Rice and products          5911
  61             4   Algeria       2513       Barley and products          5911
  76             4   Algeria       2514        Maize and products          5911
  ...          ...       ...        ...                       ...           ...
  60864        181  Zimbabwe       2765               Crustaceans          5911
  60881        181  Zimbabwe       2767           Molluscs, Other          5911
  60915        181  Zimbabwe       2928             Miscellaneous          5911
  60925        181  Zimbabwe       2680               Infant food          5911
  60935        181  Zimbabwe       2899             Miscellaneous          5911

                 Element         Unit  Y2014  Y2015  Y2016  Y2017  Y2018
  14     Export Quantity  1000 tonnes    3.0    7.0   7.00   10.0   17.0
  30     Export Quantity  1000 tonnes    3.0    7.0   6.00   10.0   17.0
  46     Export Quantity  1000 tonnes    NaN    0.0   0.00    0.0    0.0
  61     Export Quantity  1000 tonnes    NaN    0.0   0.00    NaN    0.0
  76     Export Quantity  1000 tonnes    0.0    0.0   0.00    0.0    0.0
  ...                ...          ...    ...    ...    ...    ...    ...
  60864  Export Quantity  1000 tonnes    0.0    0.0   0.02    0.0    0.0
  60881  Export Quantity  1000 tonnes    0.0    0.0   0.01    0.0    0.0
  60915  Export Quantity  1000 tonnes    1.0    1.0   1.00    1.0    1.0
  60925  Export Quantity  1000 tonnes    0.0    0.0   0.00    0.0    0.0
  60935  Export Quantity  1000 tonnes    1.0    1.0   0.00    0.0    1.0

  [4403 rows x 12 columns]),
 ('Fat supply quantity (g/capita/day)',
         Area Code      Area  Item Code                      Item  Element Code  \
  4              4   Algeria       2901               Grand Total           684
  7              4   Algeria       2903          Vegetal Products           684
  10             4   Algeria       2941           Animal Products           684
  26             4   Algeria       2905  Cereals - Excluding Beer           684
  42             4   Algeria       2511        Wheat and products           684
  ...          ...       ...        ...                       ...           ...
  60904        181  Zimbabwe       2769   Aquatic Animals, Others           684
  60912        181  Zimbabwe       2775            Aquatic Plants           684
  60922        181  Zimbabwe       2928             Miscellaneous           684
  60932        181  Zimbabwe       2680               Infant food           684
  60942        181  Zimbabwe       2899             Miscellaneous           684

                                    Element          Unit  Y2014  Y2015  Y2016  \
  4      Fat supply quantity (g/capita/day)  g/capita/day  80.06  79.36  77.40
  7      Fat supply quantity (g/capita/day)  g/capita/day  53.84  54.72  52.04
  10     Fat supply quantity (g/capita/day)  g/capita/day  26.22  24.64  25.37
  26     Fat supply quantity (g/capita/day)  g/capita/day   6.84   6.78   6.83
  42     Fat supply quantity (g/capita/day)  g/capita/day   5.39   5.31   5.37
  ...                                   ...           ...    ...    ...    ...
  60904  Fat supply quantity (g/capita/day)  g/capita/day   0.00   0.00   0.00
  60912  Fat supply quantity (g/capita/day)  g/capita/day   0.00   0.00   0.00
  60922  Fat supply quantity (g/capita/day)  g/capita/day   0.04   0.05   0.03
  60932  Fat supply quantity (g/capita/day)  g/capita/day   0.00   0.00   0.00
  60942  Fat supply quantity (g/capita/day)  g/capita/day   0.04   0.05   0.03

         Y2017  Y2018
  4      80.19  77.28
  7      55.59  54.57
  10     24.60  22.71
  26      6.63   6.58
  42      5.25   5.12
  ...      ...    ...
  60904   0.00   0.00
  60912   0.00   0.00
  60922   0.02   0.02
  60932   0.00   0.00
  60942   0.02   0.01

  [5023 rows x 12 columns]),
 ('Feed',
         Area Code      Area  Item Code                      Item  Element Code  \
  16             4   Algeria       2905  Cereals - Excluding Beer          5521
  32             4   Algeria       2511        Wheat and products          5521
  48             4   Algeria       2805         Rice and products          5521
  63             4   Algeria       2513       Barley and products          5521
  78             4   Algeria       2514        Maize and products          5521
  ...          ...       ...        ...                       ...           ...
  60706        181  Zimbabwe       2740              Butter, Ghee          5521
  60787        181  Zimbabwe       2948   Milk - Excluding Butter          5521
  60801        181  Zimbabwe       2848   Milk - Excluding Butter          5521
  60815        181  Zimbabwe       2960             Fish, Seafood          5521
  60845        181  Zimbabwe       2763              Pelagic Fish          5521

        Element         Unit    Y2014    Y2015    Y2016    Y2017    Y2018
  16       Feed  1000 tonnes  4725.00  5070.00  4838.00  4667.00  5266.00
  32       Feed  1000 tonnes   550.00   592.00   584.00   587.00   665.00
  48       Feed  1000 tonnes     5.00     1.00     1.00     2.00     0.00
  63       Feed  1000 tonnes  1028.00  1075.00  1082.00   909.00  1400.00
  78       Feed  1000 tonnes  3077.00  3309.00  3084.00  3102.00  3090.00
  ...       ...          ...      ...      ...      ...      ...      ...
  60706    Feed  1000 tonnes     0.00     0.00     0.00     0.00     0.00
  60787    Feed  1000 tonnes     7.00     8.00     7.00     6.00     6.00
  60801    Feed  1000 tonnes     7.00     8.00     7.00     6.00     6.00
  60815    Feed  1000 tonnes     7.25     7.04     4.37     0.66     0.66
  60845    Feed  1000 tonnes     7.25     7.04     4.37     0.66     0.66

  [1319 rows x 12 columns]),
 ('Food',
         Area Code      Area  Item Code                      Item  Element Code  \
  22             4   Algeria       2905  Cereals - Excluding Beer          5142
  38             4   Algeria       2511        Wheat and products          5142
  53             4   Algeria       2805         Rice and products          5142
  68             4   Algeria       2513       Barley and products          5142
  83             4   Algeria       2514        Maize and products          5142
  ...          ...       ...        ...                       ...           ...
  60900        181  Zimbabwe       2769   Aquatic Animals, Others          5142
  60908        181  Zimbabwe       2775            Aquatic Plants          5142
  60918        181  Zimbabwe       2928             Miscellaneous          5142
  60928        181  Zimbabwe       2680               Infant food          5142
  60938        181  Zimbabwe       2899             Miscellaneous          5142

        Element         Unit    Y2014   Y2015   Y2016   Y2017   Y2018
  22       Food  1000 tonnes  8546.00  8729.0  9001.0  8941.0  9219.0
  38       Food  1000 tonnes  7258.00  7425.0  7670.0  7701.0  7795.0
  53       Food  1000 tonnes   158.00   164.0   166.0   171.0   170.0
  68       Food  1000 tonnes   488.00   478.0   486.0   416.0   621.0
  83       Food  1000 tonnes   640.00   657.0   669.0   644.0   628.0
  ...       ...          ...      ...     ...     ...     ...     ...
  60900    Food  1000 tonnes     0.01     0.0     0.0     0.0     0.0
  60908    Food  1000 tonnes     0.00     0.0     0.0     0.0     0.0
  60918    Food  1000 tonnes    42.00    46.0    33.0    19.0    16.0
  60928    Food  1000 tonnes     0.00     0.0     0.0     0.0     0.0
  60938    Food  1000 tonnes    42.00    46.0    33.0    19.0    16.0

  [4941 rows x 12 columns]),
 ('Food supply (kcal/capita/day)',
         Area Code      Area  Item Code                      Item  Element Code  \
  2              4   Algeria       2901               Grand Total           664
  5              4   Algeria       2903          Vegetal Products           664
  8              4   Algeria       2941           Animal Products           664
  24             4   Algeria       2905  Cereals - Excluding Beer           664
  40             4   Algeria       2511        Wheat and products           664
  ...          ...       ...        ...                       ...           ...
  60902        181  Zimbabwe       2769   Aquatic Animals, Others           664
  60910        181  Zimbabwe       2775            Aquatic Plants           664
  60920        181  Zimbabwe       2928             Miscellaneous           664
  60930        181  Zimbabwe       2680               Infant food           664
  60940        181  Zimbabwe       2899             Miscellaneous           664

                               Element             Unit   Y2014   Y2015   Y2016  \
  2      Food supply (kcal/capita/day)  kcal/capita/day  3377.0  3379.0  3372.0
  5      Food supply (kcal/capita/day)  kcal/capita/day  2932.0  2958.0  2941.0
  8      Food supply (kcal/capita/day)  kcal/capita/day   444.0   421.0   431.0
  24     Food supply (kcal/capita/day)  kcal/capita/day  1680.0  1682.0  1699.0
  40     Food supply (kcal/capita/day)  kcal/capita/day  1432.0  1435.0  1453.0
  ...                              ...              ...     ...     ...     ...
  60902  Food supply (kcal/capita/day)  kcal/capita/day     0.0     0.0     0.0
  60910  Food supply (kcal/capita/day)  kcal/capita/day     0.0     0.0     0.0
  60920  Food supply (kcal/capita/day)  kcal/capita/day     3.0     4.0     3.0
  60930  Food supply (kcal/capita/day)  kcal/capita/day     0.0     0.0     0.0
  60940  Food supply (kcal/capita/day)  kcal/capita/day     3.0     4.0     3.0

          Y2017   Y2018
  2      3341.0  3322.0
  5      2921.0  2932.0
  8       421.0   390.0
  24     1656.0  1672.0
  40     1430.0  1419.0
  ...       ...     ...
  60902     0.0     0.0
  60910     0.0     0.0
  60920     2.0     1.0
  60930     0.0     0.0
  60940     1.0     1.0

  [5014 rows x 12 columns]),
 ('Food supply quantity (kg/capita/yr)',
         Area Code      Area  Item Code                      Item  Element Code  \
  23             4   Algeria       2905  Cereals - Excluding Beer           645
  39             4   Algeria       2511        Wheat and products           645
  54             4   Algeria       2805         Rice and products           645
  69             4   Algeria       2513       Barley and products           645
  84             4   Algeria       2514        Maize and products           645
  ...          ...       ...        ...                       ...           ...
  60901        181  Zimbabwe       2769   Aquatic Animals, Others           645
  60909        181  Zimbabwe       2775            Aquatic Plants           645
  60919        181  Zimbabwe       2928             Miscellaneous           645
  60929        181  Zimbabwe       2680               Infant food           645
  60939        181  Zimbabwe       2899             Miscellaneous           645

                                     Element Unit   Y2014   Y2015   Y2016  \
  23     Food supply quantity (kg/capita/yr)   kg  219.56  219.72  221.98
  39     Food supply quantity (kg/capita/yr)   kg  186.46  186.90  189.14
  54     Food supply quantity (kg/capita/yr)   kg    4.07    4.14    4.09
  69     Food supply quantity (kg/capita/yr)   kg   12.54   12.03   11.98
  84     Food supply quantity (kg/capita/yr)   kg   16.44   16.55   16.49
  ...                                    ...  ...     ...     ...     ...
  60901  Food supply quantity (kg/capita/yr)   kg    0.00    0.00    0.00
  60909  Food supply quantity (kg/capita/yr)   kg    0.00    0.00    0.00
  60919  Food supply quantity (kg/capita/yr)   kg    3.06    3.33    2.35
  60929  Food supply quantity (kg/capita/yr)   kg    0.00    0.00    0.00
  60939  Food supply quantity (kg/capita/yr)   kg    3.06    3.33    2.35

          Y2017   Y2018
  23     216.02  218.31
  39     186.07  184.58
  54       4.14    4.03
  69      10.05   14.70
  84      15.57   14.86
  ...       ...     ...
  60901    0.00    0.00
  60909    0.00    0.00
  60919    1.34    1.09
  60929    0.00    0.01
  60939    1.33    1.08

  [4905 rows x 12 columns]),
 ('Import Quantity',
         Area Code      Area  Item Code                      Item  Element Code  \
  12             4   Algeria       2905  Cereals - Excluding Beer          5611
  28             4   Algeria       2511        Wheat and products          5611
  44             4   Algeria       2805         Rice and products          5611
  59             4   Algeria       2513       Barley and products          5611
  74             4   Algeria       2514        Maize and products          5611
  ...          ...       ...        ...                       ...           ...
  60897        181  Zimbabwe       2769   Aquatic Animals, Others          5611
  60905        181  Zimbabwe       2775            Aquatic Plants          5611
  60913        181  Zimbabwe       2928             Miscellaneous          5611
  60923        181  Zimbabwe       2680               Infant food          5611
  60933        181  Zimbabwe       2899             Miscellaneous          5611

                 Element         Unit     Y2014    Y2015    Y2016    Y2017  \
  12     Import Quantity  1000 tonnes  12604.00  13983.0  13523.0  13039.0
  28     Import Quantity  1000 tonnes   7461.00   8531.0   8255.0   8105.0
  44     Import Quantity  1000 tonnes    171.00    164.0    162.0    190.0
  59     Import Quantity  1000 tonnes    805.00    797.0    916.0    567.0
  74     Import Quantity  1000 tonnes   4148.00   4450.0   4159.0   4161.0
  ...                ...          ...       ...      ...      ...      ...
  60897  Import Quantity  1000 tonnes      0.01      0.0      0.0      0.0
  60905  Import Quantity  1000 tonnes      0.00      0.0      0.0      0.0
  60913  Import Quantity  1000 tonnes     42.00     47.0     34.0     15.0
  60923  Import Quantity  1000 tonnes      0.00      0.0      0.0      0.0
  60933  Import Quantity  1000 tonnes     42.00     47.0     33.0     15.0

           Y2018
  12     13182.0
  28      8434.0
  44       207.0
  59       402.0
  74      4126.0
  ...        ...
  60897      0.0
  60905      0.0
  60913     16.0
  60923      0.0
  60933     16.0

  [5139 rows x 12 columns]),
 ('Losses',
         Area Code      Area  Item Code                      Item  Element Code  \
  18             4   Algeria       2905  Cereals - Excluding Beer          5123
  34             4   Algeria       2511        Wheat and products          5123
  50             4   Algeria       2805         Rice and products          5123
  65             4   Algeria       2513       Barley and products          5123
  80             4   Algeria       2514        Maize and products          5123
  ...          ...       ...        ...                       ...           ...
  60729        181  Zimbabwe       2737        Fats, Animals, Raw          5123
  60760        181  Zimbabwe       2949                      Eggs          5123
  60774        181  Zimbabwe       2744                      Eggs          5123
  60788        181  Zimbabwe       2948   Milk - Excluding Butter          5123
  60802        181  Zimbabwe       2848   Milk - Excluding Butter          5123

        Element         Unit   Y2014   Y2015   Y2016   Y2017   Y2018
  18     Losses  1000 tonnes  1084.0  1203.0  1148.0  1121.0  1253.0
  34     Losses  1000 tonnes   690.0   781.0   747.0   736.0   868.0
  50     Losses  1000 tonnes     0.0     0.0     0.0     0.0     0.0
  65     Losses  1000 tonnes   103.0   107.0   108.0    91.0    89.0
  80     Losses  1000 tonnes   288.0   309.0   288.0   290.0   289.0
  ...       ...          ...     ...     ...     ...     ...     ...
  60729  Losses  1000 tonnes     0.0     0.0     0.0     0.0     0.0
  60760  Losses  1000 tonnes     3.0     2.0     2.0     2.0     2.0
  60774  Losses  1000 tonnes     3.0     2.0     2.0     2.0     2.0
  60788  Losses  1000 tonnes    39.0    39.0    39.0    38.0    39.0
  60802  Losses  1000 tonnes    39.0    39.0    39.0    38.0    39.0

  [2009 rows x 12 columns]),
 ('Other uses (non-food)',
         Area Code      Area  Item Code                      Item  Element Code  \
  20             4   Algeria       2905  Cereals - Excluding Beer          5154
  36             4   Algeria       2511        Wheat and products          5154
  150            4   Algeria       2907             Starchy Roots          5154
  174            4   Algeria       2531     Potatoes and products          5154
  228            4   Algeria       2909        Sugar & Sweeteners          5154
  ...          ...       ...        ...                       ...           ...
  60874        181  Zimbabwe       2766               Cephalopods          5154
  60883        181  Zimbabwe       2767           Molluscs, Other          5154
  60891        181  Zimbabwe       2961   Aquatic Products, Other          5154
  60899        181  Zimbabwe       2769   Aquatic Animals, Others          5154
  60907        181  Zimbabwe       2775            Aquatic Plants          5154

                       Element         Unit  Y2014  Y2015  Y2016  Y2017  Y2018
  20     Other uses (non-food)  1000 tonnes  787.0  847.0  835.0  840.0  951.0
  36     Other uses (non-food)  1000 tonnes  787.0  847.0  835.0  840.0  951.0
  150    Other uses (non-food)  1000 tonnes  572.0  559.0  577.0  566.0  570.0
  174    Other uses (non-food)  1000 tonnes  572.0  559.0  577.0  566.0  570.0

In [13]:
dataset.shape

(60943, 12)

In [14]:
dataset.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [17]:
len(list(dataset.groupby(dataset['Area'])))

49